- content_for :title, "Add Gears"
- breadcrumb_for_account 'Add Gears'
%h1 Success!
%p
  Your new limit is shown below:
%p
  Max Gears Limit:
  %small
    #{@result[:max_gears]}
  %br
  Monthly Approved Amount (max):
  %small
    R$ #{@result[:preapproval][:amount]}
  %br
  Total Approved Amount (up to 12 months):
  %small
    R$ #{@result[:preapproval][:total_amount]} &sup1;
%br
%p
  %small 1. Due to Paypal's policy, we can only charge you in Brazilian currency. When you receive your bill, it will be in R$ (Reais) instead of US$. Any problems or questions, feel free to contact us at anytime.

= link_to "Continue...", account_path, :class => 'btn'
