= div_for user do
  %h2 Change password

  %p
    Allow to change your Getup account password.

  .btn-toolbar
    = link_to "Change password...", password_settings_path, :class => 'btn btn-small btn-danger'