- breadcrumb_for_application @application, I18n.t('Disable_Scaling')
- content_for :page_title, I18n.t('Disable_Scaling')

%h1= I18n.t('Disable_Scaling')

%section
  %p= I18n.t(:scale_delete_caption_1)
