%h2 Gears

%p= I18n.t(:gears_count, gears_free: capabilities.gears_free, max_gears: capabilities.max_gears)

.btn-toolbar
  = link_to I18n.t(:add_gears), gears_path, :class => 'btn btn-small btn-danger'
