%h2 Account Billing

%p View your billing history.

.btn-toolbar
  = link_to "Billing history...", billing_index_path, :class => 'btn btn-small btn-danger'

%p Edit your contact and billing information.

.btn-toolbar
  %p= link_to "Contact information...", edit_primary_address_path, :class => 'btn btn-small btn-danger'
  %p= link_to "Billing information...", edit_billing_address_path, :class => 'btn btn-small btn-danger'
