%h2 Account Billing

%p View your billing history.

.btn-toolbar
  = link_to "Billing history...", billing_index_path, :class => 'btn btn-small btn-danger'

%p Edit your billing addess information. This data will be used for the next invoice.

.btn-toolbar
  = link_to "Edit billing address...", edit_address_path, :class => 'btn btn-small btn-danger'
