%h2 Account Billing

%p View your billing history.

.btn-toolbar
  = link_to "Billing history...", billing_index_path, :class => 'btn btn-small btn-danger'

%p Edit your primary address information.

.btn-toolbar
  %p= link_to "Edit primary address...", edit_primary_address_path, :class => 'btn btn-small btn-danger'

%p Edit your billing address information, used by your invoices.

.btn-toolbar
  %p= link_to "Edit billing address...", edit_billing_address_path, :class => 'btn btn-small btn-danger'
