%h2 Gears

%p You have #{capabilities.gears_free} gears available of #{capabilities.max_gears} authorized. #{link_to "Click here to get more", gears_path}.

.btn-toolbar
  = link_to "Add gears...", gears_path, :class => 'btn btn-small btn-danger'
