- content_for :page_title, 'My Account'

%h1 My Account
= flashes


.btn-toolbar
	= link_to "Billing History", billing_path, :class => 'btn btn-small btn-danger'
	= link_to "Add Gears", gears_billing_path, :class => 'btn btn-small btn-danger'
