= div_for user do
  %h2= I18n.t(:password_title)

  %p= I18n.t(:password_caption)

  .btn-toolbar
    = link_to I18n.t(:change_password_btn), password_settings_path, :class => 'btn btn-small btn-danger'
