%form#userinfo{:style => "display: none"}
  %input#userinfo_login{:type => :hidden, :value => userinfo[:login]}
  %input#userinfo_name{:type => :hidden, :value => userinfo[:name]}
  %input#userinfo_email{:type => :hidden, :value => userinfo[:email]}
  %input#userinfo_lang{:type => :hidden, :value => userinfo[:lang]}
