.credit-cards-image {
	background-image: image-url("console/credit-cards.png");
	background-repeat: no-repeat;
}

/* Billing Customization */
.billing-history {

	dl { margin: 0; overflow: hidden; }

	dt, dd { float: left; font-size: 13px; height: 40px; width: 50%; }

	dd { margin: 0; }

	dt big { font-size: 16px; }
	dt small { color: #777; font-size: 10px; display: block; }

	ul { }

	li { font-size: 13px; height: 20px; }

	tr th { color: #666; border-bottom: 1px solid #666; font-size: 13px; font-weight: normal; padding: 5px; } 
	tr td { border: none; font-size: 13px; padding: 5px; } 
}

.billing-info {
	
	.info {

		tr td { border-color: #666; font-size: 13px; }
		tr td dt, tr td dd, tr td h5 { font-size: 13px; font-weight: normal; }

		tr td { border: 1px solid #666; }

		tr:hover td { background: none; }

		.middle { vertical-align: middle !important; }

		ul { margin: 0; }

		dl { margin: 0 auto; overflow: hidden; width: 200px; }
		dt, dd { float: left; font-size: 13px; width: 50%; }
		dd { margin: 0; }		
	}

	.invoice {
		
		tr th { color: #666; border-bottom: 1px solid #666; font-size: 13px; font-weight: normal; padding: 5px; } 
		tr td { border: none; font-size: 13px; padding: 5px; } 
	}
}
